<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Security Cameras</title>

  <!-- Custom fonts for this template-->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
          <!-- <i class="fas fa-laugh-wink"></i> -->
        </div>
        <div class="sidebar-brand-text mx-3">network video recorder</div>
      </a>

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>CAMERAS</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recordings">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>RECORDINGS</span></a>
      </li>
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <ul class="navbar-nav">
            <li class="nav-item no-arrow">
              <h1 class="h3 text-gray-800">Cameras</h1>
            </li>
          </ul>

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                <img class="img-profile rounded-circle" src="../static/img/undraw_profile.svg">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown"
                style="z-index: 1003;">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="row ">
            <div class="ml-auto">

              <a type="button" class="btn-primary" style="padding: 10px;border-radius: 25px;text-decoration: none;"
              data-toggle="modal" data-target="#addCameraModal">
              <i class="bi bi-plus"></i> Add Camera
            </a>
            </div>
          
          </div>
          <div class="row" style="display: flex;">
            {% for camera_info in cameras %}
            <div class="col-xl-4 col-md-6 col-sm-12" style="padding: 50px;">
              <div class="row" id="videoContainer" style="position: relative; min-height: 440px;">
                <img id="video_feed_{{ loop.index }}"
                  src="{{ url_for('video_feed', ip=camera_info.ip, port=camera_info.port, username=camera_info.username, password=camera_info.password, url=camera_info.url) }}"
                  alt="RTSP Yayını" style="max-width: 100%; max-height: 100%; z-index:1001;">
                <div class="overlay"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center;">
                  <p style="color: white;">Yayın mevcut değil</p>
                </div>
                <div class="controls"
                  style="position: absolute; left: 10px;  z-index: 1002;bottom: 10px;display: flex;">
                  <button id="startRecordingButton" onclick="startRecording({{ camera_info.id }})">Kaydı Başlat</button>
                  <button id="stopRecordingButton" onclick="stopRecording({{ camera_info.id }})">Durdur</button>
                </div>
                <div class="controls" style="position: absolute; top: 10px;  z-index: 1002;right: 10px;">
                  <button style="border-radius: 50%;" id="updateCamera"
                    onclick="showEditModal({{ camera_info.id }})">...</button>
                </div>
              </div>
              <div style="font-size: 13px;margin-top: 10px;font-weight: 700;">
                <p>Camera IP: <b>{{ camera_info.ip }}</b></p>
                <p>Camera Port: <b>{{ camera_info.port }}</b></p>
                <p>Username: <b>{{ camera_info.username }}</b></p>
                <p>Password: <b>{{ camera_info.password }}</b></p>
                <p>url: <b>{{ camera_info.url }}</b></p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Final Project 2024</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="#">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- camera add modal -->
  <div class="modal fade" id="addCameraModal" tabindex="-1" role="dialog" aria-labelledby="addCameraModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCameraModalLabel">Add Camera</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="addCameraForm">
          <div class="modal-body">
            <input id="cameraId" value="" name="cameraId" type="hidden" />
            <div class="mb-3">
              <label for="cameraIp" class="form-label">Camera IP Address</label>
              <input type="text" class="form-control" id="cameraIp" value="127.0.0.1"
                placeholder="Enter IP Address">
            </div>
            <div class="mb-3">
              <label for="cameraPort" class="form-label">Camera Port</label>
              <input type="text" class="form-control" id="cameraPort" value="8554"
                placeholder="Enter Port">
            </div>
            <div class="mb-3">
              <label for="cameraUrl" class="form-label">Url</label>
              <input type="text" class="form-control" id="cameraUrl" value="/stream"
                placeholder="Enter Url">
            </div>
            <div class="mb-3">
              <label for="cameraUsername" class="form-label">Username</label>
              <input type="text" class="form-control" id="cameraUsername" name="cameraUsername"
                placeholder="Enter Username">
            </div>
            <div class="mb-3">
              <label for="cameraPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="cameraPassword" name="cameraPassword"
                placeholder="Enter Password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Camera</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- camera add modal end -->


  <!-- update camera modal ;/// -->
  <div class="modal fade" id="updateCameraModal" tabindex="-1" role="dialog" aria-labelledby="updateCameraModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateCameraModalLabel">Update Camera</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="updateCameraForm">
          <div class="modal-body">
            <input id="cameraIdUpdate" value="" name="cameraIdUpdate" type="hidden" />
            <div class="mb-3">
              <label for="cameraIp" class="form-label">Camera IP Address</label>
              <input type="text" class="form-control" id="cameraIpUpdate" value="127.0.0.1"
                placeholder="Enter IP Address">
            </div>
            <div class="mb-3">
              <label for="cameraPortUpdate" class="form-label">Camera Port</label>
              <input type="text" class="form-control" id="cameraPortUpdate" value="8554"
                placeholder="Enter Port">
            </div>
            <div class="mb-3">
              <label for="cameraUrlUpdate" class="form-label">Url</label>
              <input type="text" class="form-control" id="cameraUrlUpdate" value="/stream"
                placeholder="Enter Url">
            </div>
            <div class="mb-3">
              <label for="cameraUsernameUpdate" class="form-label">Username</label>
              <input type="text" class="form-control" id="cameraUsernameUpdate" value=""
                placeholder="Enter Username">
            </div>
            <div class="mb-3">
              <label for="cameraPasswordUpdate" class="form-label">Password</label>
              <input type="password" class="form-control" id="cameraPasswordUpdate" value="cameraPasswordUpdate"
                placeholder="Enter Password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- camera add modal end -->

  <!-- Bootstrap core JavaScript-->
  <!-- <script src="../static//vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
-->
  <!-- <script src="../static//vendor/jquery-easing/jquery.easing.min.js"></script> -->

  <!-- Core plugin JavaScript-->
  <!-- Custom scripts for all pages-->
  <script src="../static/js/sb-admin-2.min.js"></script>

</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
<script src="sweetalert2/dist/sweetalert2.min.js"></script>

<script src="../static/pagination.js"></script>

<script>
  $(document).ready(function () { });
  window.onload = function () { };

  toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": true,
    "progressBar": true,
    "positionClass": "toast-top-right",
    "preventDuplicates": true,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut",
    // z index

  }

  $('#stopCameraButton').click(function () {
    $.get('/stop', function (data) {
      toastr.success("data.message");
    }).fail(function () {
      toastr.error("Error stopping the camera.");
    });
  });

  function updateCameraStatus(data) {
    var statusElement = $('#cameraStatus');
    if (data.status) {
      statusElement.removeClass('bg-danger').addClass('bg-success');
      statusElement.text('Online');
    } else {
      statusElement.removeClass('bg-success').addClass('bg-danger');
      statusElement.text('Offline');
    }
  }

  function addCamera() {
    var cameraId = $('#cameraId').val();
    var ip = $('#cameraIp').val();
    var port = $('#cameraPort').val();
    var username = $('#cameraUsername').val();
    var password = $('#cameraPassword').val();
    var url = $('#cameraUrl').val();

    fetch('/add_camera', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        ip: ip,
        port: port,
        username: username,
        password: password,
        url: url,
        id: cameraId
      })
    })
      .then(response => response.json())
      .then(data => {
        toastr.success("data.message");
        $('#addCameraModal').modal('hide');
        swal.fire({
          title: 'Success',
          text: data.message,
          icon: 'success',
          showConfirmButton: false,
          timer: 2000,
        });
        location.reload();
      })
      .catch((error) => {
        toastr.error('Error:', error);
      });
  }

  function updateCamera() {
    var cameraId = $('#cameraIdUpdate').val();
    var ip = $('#cameraIpUpdate').val();
    var port = $('#cameraPortUpdate').val();
    var username = $('#cameraUsernameUpdate').val();
    var password = $('#cameraPasswordUpdate').val();
    var url = $('#cameraUrlUpdate').val();
    debugger;
    fetch('/add_camera', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        ip: ip,
        port: port,
        username: username,
        password: password,
        url: url,
        id: cameraId
      })
    })
      .then(response => response.json())
      .then(data => {
        toastr.success("data.message");
        $('#updateCameraModal').modal('hide');
        swal.fire({
          title: 'Success',
          text: data.message,
          icon: 'success',
          showConfirmButton: false,
          timer: 2000,
        });
        location.reload();
      })
      .catch((error) => {
        toastr.error('Error:', error);
      });
  }

  $('#addCameraForm').submit(function (e) {
    e.preventDefault();
    addCamera();
  });

  $('#updateCameraForm').submit(function (e) {
    e.preventDefault();
    updateCamera();
  });

  function startRecording(cameraId) {
    $.get(`/start_continuous_record/${cameraId}`, function (data) {
      // toastr.success("data.message");
      swal.fire({
          title: 'Success',
          text: data.message,
          icon: 'success',
          showConfirmButton: false,
          timer: 3400,
        });
      console.log(data);
      console.log(data.message);
    }).fail(function () {
      console.log(data);
      toastr.error("Error starting continuous recording.");
    });
  }

  function stopRecording(cameraId) {
    $.get(`/stop_continuous_record/${cameraId}`, function (data) {
      console.log(data);
      console.log(data.message);
      // toastr.success("data.message");
      swal.fire({
          title: 'Success',
          text: data.message,
          icon: 'success',
          showConfirmButton: false,
          timer: 3400,
        });
    }).fail(function () {
      console.log(data);
      toastr.error("Error stopping continuous recording.");
    });
  }

  function showEditModal(cameraId) {
    $.ajax({
      type: 'GET',
      url: '/get_camera_info/' + cameraId,
      success: function (response) {
        var cameraInfo = response.cameraInfo;
        $('#cameraIpUpdate').val(cameraInfo.ip);
        $('#cameraPortUpdate').val(cameraInfo.port);
        $('#cameraUrlUpdate').val(cameraInfo.url);
        $('#cameraUsernameUpdate').val(cameraInfo.username);
        $('#cameraPasswordUpdate').val(cameraInfo.password);
        $('#cameraIdUpdate').val(cameraId);
        $('#updateCameraModal').modal('show');
      },
      error: function (xhr, status, error) {
        console.error('Error:', error);
      }
    });
  }
</script>

<style>
  .footer {
    background: #dedede5b;
    z-index: 1002;
  }

  @media (min-height: 100vh) {
    .footer {
      position: sticky;
      bottom: 0;
    }
  }
</style>