<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RTSP Stream Controller</title>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH' crossorigin='anonymous'>
  <link href='https://cdn.datatables.net/2.0.5/css/dataTables.semanticui.min.css' rel='stylesheet' type='text/css'>

  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
</head>

<body>
  <div class="container mt-1">
    <div class="row">
      <div class="row mb-2">
        <div class="d-flex justify-content-between">
          <div>
            <h1 class="" style="font-size: 18px;">Network Video Recorder {{ cameraCount }}<img style="max-width: 40px;"
                src="https://cdn.worldvectorlogo.com/logos/raspberry-pi.svg" alt="rpi"></h1>
          </div>
          <div style="display: flex; align-items: center;">
            <ul style="display: flex; margin: 0; list-style: none;">
              <li>
                <a type="button" class=""
                  style="background: #80000040;padding: 10px;border-radius: 25px;text-decoration: none;"
                  data-toggle="modal" data-target="#addCameraModal">
                  <i class="bi bi-plus"></i> Add Camera
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="empTable row mt-3" style="font-size: smaller; overflow-y: scroll; height: 360px;">
          <div class="container">
            <h4>Recordings</h4>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Size</th>
                  <th>Created At</th>
                  <th>Operations</th>
                </tr>
              </thead>
              <tbody>
                {% for recording in recordings %}
                <tr>
                  <td>{{ recording.name }}</td>
                  <td>{{ recording.size }}</td>
                  <td>{{ recording.created_at }}</td>
                  <td>
                    <a href="{{ url_for('download_file', filename=recording.name) }}"
                      class="btn btn-primary btn-sm">Download</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="row mb-3" style="margin-bottom: 400px;">
          <div class="mb-2">RTSP Stream Status: <span id="cameraStatus"
              class="badge bg-{{ 'success' if status else 'danger' }}">{{ 'Online' if status else 'Offline'}}</span>
          </div>
          <div class="d-flex">
            <button id="startCameraButton" class="mx-2 btn btn-success btn-sm">Start Camera</button>
            <button id="stopCameraButton" class="mx-2 btn btn-danger btn-sm">Stop Camera</button>
          </div>
        </div>
      </div> -->

    </div>
    <div class="row" style="display: flex;">
      {% for camera_info in cameras %}
      <div class="col-md-4" style="padding: 0 10px;">
        <div class="row" id="videoContainer" style="position: relative; min-height: 440px;">
          <img id="video_feed_{{ loop.index }}"
            src="{{ url_for('video_feed', ip=camera_info.ip, port=camera_info.port, username=camera_info.username, password=camera_info.password, url=camera_info.url) }}"
            alt="RTSP Yayını" style="max-width: 100%; max-height: 100%; z-index:1001;">
          <div class="overlay"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); display: flex; justify-content: center; align-items: center;">
            <p style="color: white;">Yayın mevcut değil</p>
          </div>
          <div class="controls"
            style="position: absolute; left: 75%; transform: translate(-50%, -50%); z-index: 1002;bottom: 0;">
            <button id="startRecordingButton" onclick="startRecording({{ camera_info.id }})">Kaydı Başlat</button>
            <button id="stopRecordingButton" onclick="stopRecording({{ camera_info.id }})">Durdur</button>
          </div>
          <div class="controls" style="position: absolute; top: 10px; left: 85%; z-index: 1002;">
            <button style="border-radius: 50%;" id="updateCamera"
              onclick="showEditModal({{ camera_info.id }})">...</button>
          </div>
        </div>
        <p>Camera IP: {{ camera_info.ip }}</p>
        <p>Camera Port: {{ camera_info.port }}</p>
        <p>Username: {{ camera_info.username }}</p>
        <p>Password: {{ camera_info.password }}</p>
        <p>url: {{ camera_info.url }}</p>
      </div>
      {% endfor %}
    </div>
  </div>

    

    
    <div class="footer col-12" id="myFooter">
      <div class="row">
        <hr>
        <p style="text-align: center">Check out Project
          <a href="#">Github repository</a>
        </p>
      </div>
    </div>

    <!-- camera add modal -->
    <div class="modal fade" id="addCameraModal" tabindex="-1" role="dialog" aria-labelledby="addCameraModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCameraModalLabel">Add Camera</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="addCameraForm">
            <div class="modal-body">
              <input id="cameraId" value="" name="cameraId" type="hidden" />
              <div class="mb-3">
                <label for="cameraIp" class="form-label">Camera IP Address</label>
                <input type="text" class="form-control" id="cameraIp" name="cameraIp" value="192.168.1.195"
                  placeholder="Enter IP Address">
              </div>
              <div class="mb-3">
                <label for="cameraPort" class="form-label">Camera Port</label>
                <input type="text" class="form-control" id="cameraPort" name="cameraPort" value="8554"
                  placeholder="Enter Port">
              </div>
              <div class="mb-3">
                <label for="cameraUrl" class="form-label">Url</label>
                <input type="text" class="form-control" id="cameraUrl" name="cameraUrl" value="/stream"
                  placeholder="Enter Url">
              </div>
              <div class="mb-3">
                <label for="cameraUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="cameraUsername" value="username" name="cameraUsername"
                  placeholder="Enter Username">
              </div>
              <div class="mb-3">
                <label for="cameraPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="cameraPassword" value="password" name="cameraPassword"
                  placeholder="Enter Password">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add Camera</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- camera add modal end -->
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
<script src="sweetalert2/dist/sweetalert2.min.js"></script>

<script src="../static/pagination.js"></script>

<script>
  $(document).ready(function () { });
  window.onload = function () { };

  toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": true,
    "progressBar": true,
    "positionClass": "toast-top-right",
    "preventDuplicates": true,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }

  $('#stopCameraButton').click(function () {
    $.get('/stop', function (data) {
      toastr.success("data.message");
    }).fail(function () {
      toastr.error("Error stopping the camera.");
    });
  });

  function updateCameraStatus(data) {
    var statusElement = $('#cameraStatus');
    if (data.status) {
      statusElement.removeClass('bg-danger').addClass('bg-success');
      statusElement.text('Online');
    } else {
      statusElement.removeClass('bg-success').addClass('bg-danger');
      statusElement.text('Offline');
    }
  }

  function addOrUpdateCamera() {
    var cameraId = $('#cameraId').val();
    var ip = $('#cameraIp').val();
    var port = $('#cameraPort').val();
    var username = $('#cameraUsername').val();
    var password = $('#cameraPassword').val();
    var url = $('#cameraUrl').val();

    fetch('/add_camera', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        ip: ip,
        port: port,
        username: username,
        password: password,
        url: url,
        id: cameraId
      })
    })
      .then(response => response.json())
      .then(data => {
        toastr.success("data.message");
        $('#addCameraModal').modal('hide');
        swal.fire({
          title: 'Success',
          text: data.message,
          icon: 'success',
          showConfirmButton: false,
          timer: 2000,
        });
        location.reload();
      })
      .catch((error) => {
        toastr.error('Error:', error);
      });
  }

  $('#addCameraForm').submit(function (e) {
    e.preventDefault();
    addOrUpdateCamera();
  });

  function startRecording(cameraId) {
    $.get(`/start_continuous_record/${cameraId}`, function (data) {
      toastr.success("data.message");
      console.log(data);
    }).fail(function () {
      console.log(data);
      toastr.error("Error starting continuous recording.");
    });
  }

  function stopRecording(cameraId) {
    $.get(`/stop_continuous_record/${cameraId}`, function (data) {
      console.log(data);
      toastr.success("data.message");
    }).fail(function () {
      console.log(data);
      toastr.error("Error stopping continuous recording.");
    });
  }

  function showEditModal(cameraId) {
    $.ajax({
      type: 'GET',
      url: '/get_camera_info/' + cameraId,
      success: function (response) {
        var cameraInfo = response.cameraInfo;

        $('#cameraIp').val(cameraInfo.ip);
        $('#cameraPort').val(cameraInfo.port);
        $('#cameraUrl').val(cameraInfo.url);
        $('#cameraUsername').val(cameraInfo.username);
        $('#cameraPassword').val(cameraInfo.password);
        $('#cameraId').val(cameraId);
        $('#addCameraModal').modal('show');
      },
      error: function (xhr, status, error) {
        console.error('Error:', error);
      }
    });
    $('#addCameraModal').modal('show');
  }
</script>

<style>
  .footer {
    background: #dedede5b;
    z-index: 1002;
  }

  @media (min-height: 100vh) {
    .footer {
      position: sticky;
      bottom: 0;
    }
  }
  
</style>